

.personal{
    width: 75vw;
    margin: auto;
}

.buttons{
    display: flex;
    justify-content:right;
    margin: 1em 3em 0 1em;

}

.Name-Div{
    background-color: white;
    margin: 0 0;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

#Profile-Pic{
    border-radius: 2em;
    height: 25vh;
    background-color: white;
    margin: 3vh;
}

.Name-Div-Row {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    flex-grow: 1;
}



.Address-Div{
    background-color: white;
    border-radius: 2em;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* .Address-Div-One{
    width: 50vw;
    display: flex;
    justify-content: space-even;
    align-items: center;
} */

/* #StreetName{
    width: 20vw;
    margin: 0 5vw 0 0;
}


#BuildingApt{
    width: 20vw;
} */


/* .Address-Div-Two{
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

/* #City{
    width: 20vw;
}

#State{
    width: 20vw;

}

#Zip{
    width: 10vw;
} */

/* contact */

/* .Contact-Div, .Employment-Div{
    height: 5vw;
    background-color: white;
    margin: 0 3em;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



.Emergency-Div-Parent{
    background-color: white;
    margin: 0 3em;
    padding: 2em ;
    border-radius: 2em;


}
.Emergency-Div-Parent input {
    background-color: white;
    width: 12vw;
}

.Emergency-Div-Parent table{
    margin-bottom: 1em;
}



.Create-Emergency-Div{
    background-color: white;
    border: 0;
    box-shadow: none;
    display: flex; 
}  */



.Create-Emergency-Div {
    display: flex;
    flex-wrap: wrap;
    gap: 3em; 
    margin-top: 20px; 

}

.Create-Emergency-Div input {
    flex: 1;
    margin-bottom: 10px; /* Adjust as needed */
}