*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  background-color: $theme-light-grey;
}

body {
  margin: 0;
}

h1 {
  color: $off-white;
  font-size: $xl-size;
}

h2 {
  font-size: $l-size;
}

p {
  font-size: $s-size;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.outline {
  outline: 1px solid red;
}

.full-view-height {
  height: 100vh;
}

.full-parent-width {
  width: 100%;
}

.full-parent-height {
  height: 100%;
}

.main-content {
  display: flex;
  padding-top: 60px;
}

.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.line {
  display: flex;
  font-size: medium;
  margin: 10px;
  align-items: center;
}

input {
  height: 2em;
}

.onboardingSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
