// Theme Colors
$theme-blue: #2ABED0;
$theme-black: #030915;
$theme-light-grey: #F2F5FA;
$theme-dark-grey: #EFEFEF;

// Colors
$off-black: #20222b;
$off-white: #fffdef;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;
$dark-grey: #2c2c2c;

// Spacings
$s-size: 1.4rem;
$m-size: 1.6rem;
$l-size: 2.0rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;