*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  background-color: #f2f5fa;
}

body {
  margin: 0;
}

h1 {
  color: #fffdef;
  font-size: 4.8rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.outline {
  outline: 1px solid red;
}

.full-view-height {
  height: 100vh;
}

.full-parent-width {
  width: 100%;
}

.full-parent-height {
  height: 100%;
}

.main-content {
  display: flex;
  padding-top: 60px;
}

.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}
