

.personal{
    width: 100vw;
    margin: auto;
}

.Name-Div{
    background-color: white;
    margin: 0 0;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

#Profile-Pic{
    border-radius: 2em;
    height: 25vh;
    background-color: white;
    margin: 3vh;
}

.Name-Div-Row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    flex-grow: 1;
}



.Address-Div{
    background-color: white;
    border-radius: 2em;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.Create-Emergency-Div {
    display: flex;
    flex-wrap: wrap;
    gap: 3em; 
    margin-top: 20px; 

}

.Create-Emergency-Div input {
    flex: 1;
    margin-bottom: 10px; 
}

#StreetName{
    width: 20vw;
    margin: 0 5vw 0 0;
}


#BuildingApt{
    width: 20vw;
} */


 .Address-Div-Two{
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

 #City{
    width: 20vw;
}

#State{
    width: 20vw;

}

#Zip{
    width: 10vw;
}

