<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Yuqing Li</mat-card-title>
    <mat-card-subtitle>profile pic:.....</mat-card-subtitle>
    <div class="user-info-col">
      <mat-card-subtitle>Work Authorization:.....</mat-card-subtitle>
      <mat-card-subtitle>Start Date:.....</mat-card-subtitle>
      <mat-card-subtitle>End Date:.....</mat-card-subtitle>
      <mat-card-subtitle>Next step:.....</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button>View Files</button>
    <button mat-button>Notification</button>
  </mat-card-actions>
</mat-card>
