<div id="profile-container">
  <div id="profile-search" class="mat-elevation-z2">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="search" (input)="onSearchChange($event)" />
    </mat-form-field>
  </div>
  <h2>Profiles</h2>

  <div id="profile-main">
    <div id="profile-list">
      <div *ngFor="let person of people" class="profile-box mat-elevation-z2">
        <img [src]="person.profilePicture" alt="ProfilePic" />
        <p>
          Name:
          <a [href]="'http://localhost:5173/user/hruser/' + person._id" target="_blank" rel="noopener noreferrer">
            {{ person.firstName }} {{ person.lastName }}
            {{ person.preferredName ? "(" + person.preferredName + ")" : "" }}
          </a>
        </p>
        <p>SSN: {{ person.ssn }}</p>
        <p>Work Authorization: {{ person.workAuthorization }}</p>
        <p>
          Phone: {{ person.phone.cell ? person.phone.cell : person.phone.work }}
        </p>
        <p>Email: {{ person.email }}</p>
      </div>
    </div>
  </div>
</div>