.nav-bar {
  padding: 20px 20px 0 20px;
  width: 15vw;
  min-width: 180px;
  height: 100%;
  background-color: #20222b;
}

.nav-link {
  color: #fffdef;
  text-decoration: none;
  margin: 5px;
  font-size: 2rem;
}
